{{define "base"}}
<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf8" />
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
    {{template "title" .}}
  </head>
  <body>
    <header>
      <h1>Welcome to TypAscii</h1>
    </header>
    <main>{{template "main" .}}</main>

    <script>
    document.getElementById('download-btn').addEventListener('click', function() {
     document.getElementById('download-text').value=document.getElementById('text').value;
     document.getElementById('download-banner').value=document.getElementById('banner').value;
     });
     </script>
  </body>
</html>
{{end}}
