{{template "base" .}} {{define "title" }}<title>TypAscii</title>{{end}} {{define
"main"}}

  
<form method="POST" action="/ascii-art">
  <textarea
    name="text"
    id="text"
    hx-post="/ascii-art"
    hx-trigger="keyup changed delay:200ms"
    hx-target="#result"
    hx-swap="innerHTML"
    hx-include="closest form"
  ></textarea>

  <select name="banner" id="banner">
    <option value="standard">Standard</option>
    <option value="thinkertoy">Thinker-Toy</option>
    <option value="shadow">Shadow</option>
  </select>
</form>
<form method="POST" action="/ascii-art/download">
      <input type="hidden" name="text" id="download-text"/>
      <input type="hidden" name="banner" id="download-banner" />
      <button type="submit" id="download-btn">Download ascii-art</button>
    </form>
<div id="result">{{/*result is here*/}}</div>
{{end}}
